* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  body {
    height: 100%;
    background: url('https://horizon-media.s3-eu-west-1.amazonaws.com/s3fs-public/field/image/ecosystem.jpg');
    background-size: cover;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
  }

  body:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  label {
    color: #fff;
  }

  #page-wrapper,
  #htmlView {
    float: left;
    width: 100%;
    margin: 30px 0 0;
    position: relative;
    z-index: 1;
  }

  .list-group-item {
    padding: 0.75rem 1.25rem;
    border: 0 !important;
    border-radius: 0 !important;
  }

  .card {
    position: relative;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    float: left;
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    color: #fff;
  }

  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  .card-text:last-child {
    margin-bottom: 0;
  }

  .card-title {
    margin: 0 0 0.75rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
  }

  #submit {
    background: #00bcd4;
    border: 0;
    color: #fff;
  }

  .list-group-item h4 {
    margin: 0 0 15px;
  }

  .underline {
    text-decoration: underline;
    color: #fff;
  }

  #msg {
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    background: #4ebcd4;
    padding: 5px 5px 5px 13px;
    border-radius: 3px;
    z-index: 1;
  }

  #msg span {
    cursor: pointer;
    font-size: 12px;
    padding: 0 6px 0 10px;
  }

  .slick-slide .slide-content {
    margin: 0 10%;
    padding: 50px 100px;
    background: #fff;
  }

  .slick-list {
    margin: 20px 0px;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    right: 4%;
    background: #fff;
    border: none;
    color: transparent;
    width: 30px;
    padding: 3px 0 5px 10px;
    box-sizing: border-box;
  }

  .slick-prev:before,
  .slick-next:before {
    content: ">";
    color: #000;
    font-size: 16px;
  }

  .slick-prev {
    left: calc(50% - 40px);
  }

  .slick-next {
    right: calc(50% - 40px);
  }

  .slick-disabled {
    display: none;
  }

  .slick-prev:before {
    content: "<";
  }

  .slick-dots {
    list-style: none;
    margin: 0 auto;
    text-align: center;
  }

  .slick-dots li {
    display: inline-block;
  }

  .slick-dots li button {
    transition: 0.2s background-color ease-in-out 0s;
    border: none;
    padding: 0;
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: #777;
    margin-right: 10px;
    border-radius: 50%;
  }

  .slick-dots li.slick-active button {
    background-color: #4ebcd4;
  }